*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
opensdk文档/
Android Java 项目开发任务.md
app/libs/AIKit.aar
app/libs/opensdk-v1.1.0.aar
app/src/main/assets/wake_engine.properties
.codebuddy
.idea
.workbuddy
gradlew
gradlew.bat
讯飞样例/
机器人接口样例/
app/src/main/assets/aikit_resources/
wukong_robot服务端/
Test_Server/